/*@import "~materialize-css/dist/css/materialize.min.css";*/
.nav-wrapper {
    padding: 0 2rem;
}

strong {
    font-weight: 700;
}

li > .active {
    background: #e95a65;
}

.card {
    width: 29vw;
}

.col.s12.m7 > .card {
    width: 100%;
}

.col.s12.m7 {
    margin-top: 5vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0px);
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.card-container FORM {
    align-self: center;
}
.card-container FORM Button {
    width: 160px;
}

.card .card-content P.price, .price.big, .price-total {
    font-size: 22px;
}

.card-action.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

INPUT[name="submit"]:hover {
    background-color: #ffd8a6 !important;
}

INPUT[name="submit"] {
    transition: 500ms;
    cursor: pointer;
}

.row {
    margin-bottom: 10px !important;
}

form > button {
    width: 128px;
    height: 44px;
    transition: 500ms;
}

form[action^="/all/edit/"] {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 15vw;
}
.container .auth .alert {
    background-color: #e6949770;
    height: 35px;
    width: fit-content;
    position: relative;
    left: 0;
    right: 0;
    margin: 0px auto;
    border-radius: 10px;
    padding: 5px;
    color: #508282;
}
.col.s6>.avatar{
    width: auto;
    height: 220px;
}
